<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to FintelValues.com</h2>
    <p>
      you are recieving this message because you have successfully signed up on Fintelvalues.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      log in to complete you sign up, follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
