<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Login to FintelValues.com</h2>
    <p>
      you are recieving this message because you have successfully logged in on Fintelvalues.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
  
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
