<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Login to transportcointech.tech</h2>
    <p>
      you are recieving this message because you have successfully logged in on transportcointech.com with the username: <%= @user.email %>.<br>
    </p>
    <p>
  
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
